:root {
  --slidercolor: rgba(255, 255, 255, 1);
  --thumbcolor: rgba(255, 255, 255, 1);
}

body {
  margin: 0px;
}


h1,
h2,
p {
  font-family: "Fira Sans", sans-serif;
  margin-top:10px;
  margin-bottom:10px;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

.sectionheader p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.Container1 {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-image: url(NeuroSphereBG.png);
    background-repeat: none;
    background-size: cover;

}

.containerLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.divider {
  height: 0.1rem;
  width: 50%;
  border-radius: 0.1rem;
  background-color: #94cfc0;
  margin: 15px 0px;
  
}

.containerRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.questionContainer{
  display: flex;
  justify-content: space-around;
}

.column1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0px 10px;
    border-radius: 0.2rem;
}

.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.introContainer2 {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  
}

.introContainer2 p {
  font-weight: 400;
}



.DataContainer {
  background-image:url(NeuroSphere.svg);
  background-repeat: no-repeat;
  background-size: 330px;
  background-position-x: 97px;
  background-position-y: 85px;
}

.Logo {
  width: 20rem;
  height: auto;
  padding-left: 25px;
}

/********** Range Input Styles **********/

/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 12rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}


/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   background: transparent;
   background-color: var(--slidercolor);
   box-shadow: inset 0 0 0.2rem #A9A9A9;
   border-radius: 0.5rem;
   height: 0.5rem;  
   transition: background-color 250ms ease-in;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   background: transparent;
   background-color: #f5f5f5;
   box-shadow: inset 0 0 0.2rem #A9A9A9;
   border-radius: 0.5rem;
   height: 0.5rem;  
}

.riskslider:user-valid::-webkit-slider-runnable-track {
   background-color: #f9cacf;
   transition: background-color 250ms ease-in;
}
.riskslider:user-valid::-moz-range-track {
   background-color: #f9cacf;
   transition: background-color 250ms ease-in;
}

.cautiousslider:user-valid::-webkit-slider-runnable-track {
   background-color: #fee9b4;
   transition: background-color 250ms ease-in;
}
.cautiousslider:user-valid::-moz-range-track {
   background-color: #fee9b4;
   transition: background-color 250ms ease-in;
}

.controlslider:user-valid::-webkit-slider-runnable-track {
   background-color: #bcdff3;
   transition: background-color 250ms ease-in;
}
.controlslider:user-valid::-moz-range-track {
   background-color: #bcdff3;
   transition: background-color 250ms ease-in;
}

.dataslider:user-valid::-webkit-slider-runnable-track {
   background-color: #d4ece6;
   transition: background-color 250ms ease-in;
}
.dataslider:user-valid::-moz-range-track {
   background-color: #d4ece6;
   transition: background-color 250ms ease-in;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   background: transparent;
   margin-top: -0.4rem;
   height: 1.3rem;
   width: 1.3rem;
   border-radius: 1rem;
   background-color: var(--thumbcolor);
   border: 1px solid #A9A9A9;
   transition: background-color 250ms ease-in;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   background: transparent;
   /* margin-top: -12px; Centers thumb on the track */
   height: 1.3rem;
   width: 1.3rem;
   border-radius: 1rem;
   background-color: #ffffff;
   border: 1px solid #A9A9A9;
   transition: background-color 250ms ease-in;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: #94cfc0;
  outline: 5px solid #d4ece6;
  /* outline-offset: 0.125rem;  */
  transition: background-color 250ms ease-in;
}
input[type="range"]:focus::-moz-range-thumb {
  background-color: #94cfc0;
  outline: 5px solid #d4ece6;
  /* outline-offset: 0.125rem;  */
  transition: background-color 250ms ease-in;
}

/* Thumb Customisation */
.riskslider:user-valid::-webkit-slider-thumb {
    background-color: #EF7B88;
    border: 0.2rem solid #ffffff;
    transition: background-color 250ms ease-in;
}
.riskslider:user-valid::-moz-range-thumb {
    background-color: #EF7B88;
    border: 0.2rem solid #ffffff;
    transition: background-color 250ms ease-in;
}

.cautiousslider:user-valid::-webkit-slider-thumb {
    background-color: #EF7B88;
    border: 0.2rem solid #ffffff;
    transition: background-color 250ms ease-in;
}
.cautiousslider:user-valid::-moz-range-thumb {
    background-color: #FDC743;
    border: 0.2rem solid #ffffff;
    transition: background-color 250ms ease-in;
}

.controlslider:user-valid::-webkit-slider-thumb {
    background-color: #EF7B88;
    border: 0.2rem solid #ffffff;
    transition: background-color 250ms ease-in;
}
.controlslider:user-valid::-moz-range-thumb {
    background-color: #57aee2;
    border: 0.2rem solid #ffffff;
    transition: background-color 250ms ease-in;
}